{
    "id": i32,
    "categoryId": i32,
    "isVisible": bool,
    "notifyOnPass": bool,
    "isActive": bool,
    "criterion": String,
    "activationCriterion": String,
    "goals": Vec(Struct({
        "id": i32,
        "feedback": bool,
        "_2": String,
        "positions": Vec(Struct({
            "x": i16,
            "y": i16,
            "z": i16,
            "worldId": i16,
        })),
        "_4": String,
        "vlisteners": Vec(Struct({
            "id": i32,
            "successCriterion": String,
            "variableIds": Vec(i32),
        })),
    })),
    "rewards": Vec(Struct({
        "id": i32,
        "kind": i32,
        "params": Vec(i32),
    })),
    "duration": i32,
    "cooldown": i32,
    "shareable": bool,
    "repeatable": bool,
    "needsUserAccept": bool,
    "recommandedLevel": i32,
    "recommandedPlayers": i32,
    "followable": bool,
    "displayOnActivationDelay": i32,
    "periodStartTime": i64,
    "period": i64,
    "autoCompass": bool,
    "gfxId": i32,
    "isMercenary": bool,
    "mercenaryItemId": i32,
    "mercenaryRank": i8,
    "order": i32,
}