{
    "id": i32,
    "scriptId": i32,
    "areaAreaId": i32,
    "maxExecutionCount": i32,
    "targetsToShow": i32,
    "canBeTargeted": bool,
    "obstacleForAI": bool,
    "shouldStopMovement": bool,
    "canBeTargetedByAI": bool,
    "canBeDestroyed": bool,
    "kind": String,
    "areaAreaParams": Vec(i32),
    "applicationTriggers": Vec(i32),
    "unapplicationTriggers": Vec(i32),
    "destructionTriggers": Vec(i32),
    "deactivationDelay": Vec(f32),
    "params": Vec(f32),
    "properties": Vec(i32),
    "effectIds": Vec(i32),
    "areaGfx": String,
    "areaCellGfx": String,
    "aps": String,
    "cellAps": String,
    "maxLevel": i32,
}