{
    "id": i32,
    "name": String,
    "backgroundAps": i32,
    "baseHp": i32,
    "baseAp": i32,
    "baseMp": i32,
    "baseWp": i32,
    "baseInit": i32,
    "baseFerocity": i32,
    "baseFumble": i32,
    "baseWisdom": i32,
    "baseTackle": i32,
    "baseDodge": i32,
    "baseProspection": i32,
    "timerCountBeforeDeath": i32,
    "preferedArea": i32,
    "spellElements": Vec(i8),
    "characRatios": Vec(f32),
}