{
    "id": i32,
    "modelType": i16,
    "worldId": i16,
    "x": i32,
    "y": i32,
    "z": i16,
    "initialState": i16,
    "initiallyVisible": bool,
    "initiallyUsable": bool,
    "blockingMovement": bool,
    "blockingLos": bool,
    "direction": i8,
    "activationPattern": i16,
    "parameter": String,
    "templateId": i32,
    "properties": Vec(i32),
    "positionsTrigger": Vec(Struct({
        "x": i32,
        "y": i32,
        "z": i16,
    })),
    "actions": Map(i16, i32),
    "views": Vec(i32),
}