{
    "id": i32,
    "metaId": i32,
    "itemSetId": i16,
    "gfxId": i32,
    "femaleGfxId": i32,
    "floorGfxId": i32,
    "level": i16,
    "criteria": Vec(String),
    "itemTypeId": i32,
    "maxStackHeight": i16,
    "useCostAP": i8,
    "useCostMP": i8,
    "useCostFP": i8,
    "useRangeMin": i32,
    "useRangeMax": i32,
    "useTestFreeCell": bool,
    "useTestNotBorderCell": bool,
    "useTestLos": bool,
    "useTestOnlyLine": bool,
    "itemRarity": i16,
    "itemBindType": i8,
    "generationType": String,
    "itemProperties": Vec(i32),
    "itemActionVisual": i8,
    "worldUsageTarget": i8,
    "gemElementType": i8,
    "gemNum": i8,
    "effectIds": Vec(i32),
    "actions": Vec(Struct({
        "actionId": i32,
        "actionTypeId": i32,
        "consumeItemOnAction": bool,
        "clientOnly": bool,
        "stopMovement": bool,
        "hasScript": bool,
        "criteria": String,
        "actionParams": Vec(String),
        "actionScriptParams": Vec(String),
    })),
    "subMetaIds": Vec(i32),
    "gemSlots": Vec(i8),
    "gemSlotType": Vec(i8),
}