{
    "id": i32,
    "familyId": i32,
    "levelMin": i16,
    "levelMax": i16,
    "xpMultiplicator": f32,
    "arcadePointsMultiplicator": f32,
    "baseHp": i32,
    "baseWp": i32,
    "baseAp": i32,
    "baseMp": i32,
    "baseRange": i32,
    "baseInit": i32,
    "basePerception": i32,
    "baseParade": i32,
    "baseWill": i32,
    "baseCriticalHit": i32,
    "baseTimeBeforeDeath": i32,
    "HpInc": f32,
    "WpInc": f32,
    "ApInc": f32,
    "MpInc": f32,
    "rangeInc": f32,
    "initInc": f32,
    "perceptionInc": f32,
    "paradeInc": f32,
    "willInc": f32,
    "CriticalHitInc": f32,
    "baseHealingBonus": i32,
    "baseSummonBonus": i32,
    "baseMechanicsBonus": i32,
    "baseTackleBonus": i32,
    "baseFireDamageBonus": i32,
    "baseWaterDamageBonus": i32,
    "baseEarthDamageBonus": i32,
    "baseWindDamageBonus": i32,
    "baseFireResistance": i32,
    "baseWaterResistance": i32,
    "baseEarthResistance": i32,
    "baseWindResistance": i32,
    "baseTackleResistance": i32,
    "baseAPLossResistance": i32,
    "basePMLossResistance": i32,
    "baseWPLossResistance": i32,
    "healingBonusInc": f32,
    "tackleBonusInc": f32,
    "fireDamageBonusInc": f32,
    "waterDamageBonusInc": f32,
    "earthDamageBonusInc": f32,
    "windDamageBonusInc": f32,
    "fireResistanceInc": f32,
    "waterResistanceInc": f32,
    "earthResistanceInc": f32,
    "windResistanceInc": f32,
    "tackleResistanceInc": f32,
    "apLossResistanceInc": f32,
    "pmLossResistanceInc": f32,
    "wpLossResistanceInc": f32,
    "hasDeadEvolution": bool,
    "npcRank": i16,
    "agroRadius": i16,
    "sightRadius": i16,
    "radiusSize": i32,
    "fightProperties": Vec(i32),
    "worldProperties": Vec(i32),
    "naturalStates": Vec(i16),
    "spellsIdAndLevel": Vec(Struct({
        "id": i32,
        "level": i32,
    })),
    "familyRank": i8,
    "walkingSpeed": i16,
    "runningSpeed": i16,
    "runningRadiusInWorld": i16,
    "runningRadiusInFight": i16,
    "monsterActionData": Vec(Struct({
        "id": i32,
        "kind": i8,
        "criteria": String,
        "criteriaOnNpc": bool,
        "moveToMonsterBeforeInteractWithHim": bool,
        "duration": i32,
        "showProgressBar": bool,
        "visualId": i32,
        "scriptId": i32,
    })),
    "monsterCollectActionData": Vec(Struct({
        "id": i32,
        "skillId": i32,
        "skillLevelRequired": i32,
        "skillVisualFeedbackId": i32,
        "criteria": String,
        "xpFactor": f32,
        "collectLootListId": i32,
        "duration": i32,
        "collectItemId": i32,
        "lootList": Vec(i32),
        "displayInCraftDialog": bool,
    })),
    "monsterBehaviourData": Vec(Struct({
        "id": i32,
        "kind": i32,
        "scriptId": i32,
        "needsToWaitPathEnd": bool,
    })),
    "monsterEvolutionData": Vec(Struct({
        "id": i32,
        "breedId": i32,
        "scriptId": i32,
    })),
    "requiredLeadershipPoints": i32,
    "alignmentId": i16,
    "timelineBuffId": i32,
    "monsterHeight": i32,
    "defeatScriptId": i32,
    "gfxEquipment": Vec(i32),
    "specialGfxEquipement": Vec(Struct({
        "fileId": String,
        "parts": Vec(String),
    })),
    "specialGfxColor": Vec(Struct({
        "partIndex": i32,
        "color": i32,
    })),
    "specialGfxAnim": Vec(Struct({
        "key": i8,
        "animName": String,
    })),
    "gfx": i32,
    "timelineGfx": i32,
}