{
    "protectorId": i32,
    "monsterId": i32,
    "buffListId": i32,
    "buffListIdToBuy": i32,
    "scenarioLootListId": i32,
    "scenarioLootListIdToBuy": i32,
    "scenarioLootListIdChaos": i32,
    "scenarioLootListIdEcosystem": i32,
    "climateListIdToBuy": i32,
    "nationId": i32,
    "territory": i32,
    "fightStake": i32,
    "positionX": i32,
    "positionY": i32,
    "positionZ": i16,
    "craftLearnt": Vec(i32),
    "secrets": Vec(Struct({
        "id": i32,
        "achievementGoalId": i32,
        "secretGfxId": i32,
        "discoveredGfxId": i32,
    })),
    "faunaWill": Vec(Struct({
        "kindId": i32,
        "min": i16,
        "max": i16,
    })),
    "floraWill": Vec(Struct({
        "kindId": i32,
        "min": i16,
        "max": i16,
    })),
}