{
    "id": i32,
    "kind": i32,
    "idealRainMin": i16,
    "idealRainMax": i16,
    "idealTemperatureMin": i16,
    "idealTemperatureMax": i16,
    "isBlocking": bool,
    "useBigChallengeAps": bool,
    "isMonsterEmbryo": bool,
    "monsterStepHatching": i16,
    "properties": Vec(i32),
    "monsterFamilies": Vec(i32),
    "steps": Vec(Struct({
        "index": i32,
        "actions": Vec(Struct({
            "id": i32,
            "skillId": i32,
            "resourceNextIndex": i32,
            "skillLevelRequired": i32,
            "skillSimultaneousPlayer": i32,
            "skillVisualFeedbackId": i32,
            "duration": i32,
            "consumableId": i32,
            "gfxId": i32,
            "criteria": String,
            "_10": bool,
            "collectLootListId": i32,
            "_12": f32,
            "collectItemId": i32,
            "lootItems": Vec(i32),
            "mruOrder": i32,
            "displayInCraftDialog": bool,
        })),
        "sizeCategoryId": i32,
        "lightRadius": i32,
        "lightColor": i32,
        "apsId": i32,
        "apsPosZ": i32,
    })),
    "height": i16,
    "iconGfxId": i32,
    "gfxIds": Map(i32, Vec(i32)),
}