{
    "id": i32,
    "scriptId": i32,
    "gfxId": i32,
    "maxLevel": i16,
    "breedId": i16,
    "castMaxPerTarget": i16,
    "castMaxPerTurn": f32,
    "castMaxPerTurnIncr": f32,
    "castMinInterval": i16,
    "testLineOfSight": bool,
    "castOnlyLine": bool,
    "castOnlyInDiag": bool,
    "testFreeCell": bool,
    "testNotBorderCell": bool,
    "testDirectPath": bool,
    "targetFilter": i32,
    "castCriterion": String,
    "PA_base": f32,
    "PA_inc": f32,
    "PM_base": f32,
    "PM_inc": f32,
    "PW_base": f32,
    "PW_inc": f32,
    "rangeMaxBase": f32,
    "rangeMaxInc": f32,
    "rangeMinBase": f32,
    "rangeMinLevelIncrement": f32,
    "maxEffectCap": i16,
    "element": i16,
    "xpGainPercentage": i16,
    "spellType": i16,
    "uiPosition": i16,
    "learnCriteria": String,
    "passive": i8,
    "useAutomaticDescription": bool,
    "showInTimeline": bool,
    "canCastWhenCarrying": bool,
    "actionOnCriticalMiss": i8,
    "spellCastRangeIsDynamic": bool,
    "castSpellWillBreakInvisibility": bool,
    "castOnRandomCell": bool,
    "tunnelable": bool,
    "canCastOnCasterCell": bool,
    "associatedWithItemUse": bool,
    "properties": Vec(i32),
    "effectIds": Vec(i32),
    "baseCastParameters": Map(i8, Struct({
        "base": i32,
        "increment": f32,
    })),
    "_49": Struct({}),
    "alternativeCasts": Map(String, Struct({
        "_0": i32,
        "costs": Map(i32, Struct({
            "base": i32,
            "increment": f32,
        })),
        "PA_base": f32,
        "PA_inc": f32,
        "PM_base": f32,
        "PM_inc": f32,
        "PW_base": f32,
        "PW_inc": f32,
        "rangeMinBase": f32,
        "rangeMinInc": f32,
        "rangeMaxBase": f32,
        "rangeMaxInc": f32,
        "isLosAware": bool,
        "onlyInLine": bool,
        "rangeIsDynamic": bool,
        "_15": f32,
        "_16": f32,
        "_17": f32,
        "_18": f32,
        "_19": bool,
        "_20": bool,
        "_21": bool,
        "_22": bool,
    })),
}