{
    "id": i32,
    "maxLevel": i16,
    "endTrigger": Vec(i32),
    "duration": Vec(i32),
    "durationInc": Vec(f32),
    "endsAtEndOfTurn": bool,
    "isDurationInFullTurns": bool,
    "inTurnInFight": bool,
    "isReplacable": bool,
    "hmiActions": String,
    "applyCriterion": String,
    "isCumulable": bool,
    "durationInCasterTurn": bool,
    "durationInRealTime": bool,
    "effectIds": Vec(i32),
    "stateImmunities": Vec(i32),
    "stateShouldBeSaved": bool,
    "decursable": bool,
    "stateType": i8,
    "statePowerType": i8,
    "isReapplyEvenAtMaxLevel": bool,
    "timelineVisible": bool,
    "gfxId": i32,
    "displayCasterName": bool,
}