{
    "effectId": i32,
    "actionId": i32,
    "parentId": i32,
    "areaOrderingMethod": i16,
    "areaSize": Vec(i32),
    "areaShape": i16,
    "emptyCellsAreaOrderingMethod": i16,
    "emptyCellsAreaSize": Vec(i32),
    "emptyCellsAreaShape": i16,
    "triggersBeforeComputation": Vec(i32),
    "triggersBeforeExecution": Vec(i32),
    "triggersForUnapplication": Vec(i32),
    "triggersAfterExecution": Vec(i32),
    "triggersAfterAllExecutions": Vec(i32),
    "triggersNotRelatedToExecutions": Vec(i32),
    "triggersAdditionnal": Vec(i32),
    "criticalState": String,
    "targetValidator": Vec(i64),
    "affectedByLocalisation": bool,
    "durationBase": i32,
    "durationInc": f32,
    "endsAtEndOfTurn": bool,
    "isDurationInFullTurns": bool,
    "applyDelayBase": i16,
    "applyDelayIncrement": f32,
    "params": Vec(f32),
    "probabilityBase": f32,
    "probabilityInc": f32,
    "triggerListenerType": i8,
    "triggerTargetType": i8,
    "triggerCasterType": i8,
    "storeOnSelf": bool,
    "maxExecution": i16,
    "maxExecutionIncr": f32,
    "maxTargetCount": i8,
    "isFightEffect": bool,
    "hmiAction": String,
    "containerMinLevel": i16,
    "containerMaxLevel": i16,
    "effectCriterion": String,
    "effectParentType": String,
    "effectContainerType": String,
    "dontTriggerAnything": bool,
    "isPersonal": bool,
    "isDecursable": bool,
    "notifyInChatForCaster": bool,
    "notifyInChatForTarget": bool,
    "notifyInChatWithCasterName": bool,
    "scriptFileId": i32,
    "durationInCasterTurn": bool,
    "effectProperties": Vec(i32),
    "displayInSpellDescription": bool,
    "displayInStateBar": bool,
    "recomputeAreaOfEffectDisplay": bool,
    "isInTurnInFight": bool,
    "notifyInChat": bool,
}