{
    "teleporterId": i32,
    "lockId": i32,
    "destinations": Vec(Struct({
        "destinationId": i32,
        "x": i32,
        "y": i32,
        "z": i32,
        "worldId": i32,
        "direction": i8,
        "criteria": String,
        "visualId": i32,
        "apsId": i32,
        "delay": i16,
        "itemConsumed": i32,
        "itemQuantity": i16,
        "kamaCost": i16,
        "doConsumeItem": bool,
        "isInvisible": bool,
        "loadingAnimationName": String,
        "loadingMinDuration": i32,
        "loadingFadeInDuration": i32,
        "loadingFadeOutDuration": i32,
    })),
}